.tableF23wrapper {
  margin: 30px 20px 0 20px;
}
.capacity {
  font-size: 10px;
  font-weight: 400;
  padding: 7px 3px;
  border-bottom: 0;
}

.tableHeaders {
  font-size: 10px;
  font-weight: 700;
  padding: 0;
}

.listOfPackages {
  display: table;
  border-collapse: collapse;
}

.simpleCorr {
  padding: 0;
}

.cell {
  font-size: 10px;
  padding: 3px;
  text-align: center;
}
