/* сделать индивидуально */

.listOfPackages {
  display: table;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}
caption {
  padding: 10px;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: grey;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}
.tableCell {
  display: table-cell;
  vertical-align: inherit;
  text-align: center;
}
