.wrapper {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
.headSmallFont {
  font-size: 12px;
}

.line {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.divUnderlined {
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  /* padding-right: 10%; */
}
.underlined {
  text-decoration: underline;
}
.withDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}
.description {
  font-size: 12px;
}
